.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Xcode build products
build/
DerivedData/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
